.component {
  display: flex;
  flex-direction: column;

  .view {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1.8em;
      font-weight: bold;
      cursor: pointer;
    }

    div {
      display: flex;
      align-items: center;
      column-gap: 1em;
    }
  }

  .write {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2em;

    .input {
      flex-grow: 1;
      font-size: 1.2em;
      padding: 0.3em;
      border-radius: var(--radius-element);
    }

    div {
      display: flex;
      align-items: center;
      column-gap: 1em;
    }
  }

  .row2 {
    display: flex;
    align-items: center;
    column-gap: 0.2em;

    div {
      display: flex;
      align-items: baseline;
      column-gap: 0.5em;
    }

    span:first-child {
      font-size: 1.2em;
    }

    span:last-child {
      font-size: 0.8em;
    }
  }
}
