.component {
  display: flex;
  flex-direction: column;
  row-gap: 0.75em;
  padding: 0.5em;
}

.header {
  display: flex;
}

.sep {
  margin: 0;
  border-style: none;
  border-top: var(--color-ln-content) solid 1px;

}

.body {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 1em;

  div:first-child {
    width: 100%;
  }
}

.buttons {
  display: flex;
  column-gap: 1em;
}

.input {
  font-size: 1.2em;
  padding: 0.3em;
  border-radius: var(--radius-element);
}
