:root {
  --color-bg-background: #eeffee;
  --color-bg-content: #ffffff;
  --color-bg-submit: #ccffcc;
  --color-bg-sub: #f4f4f4;
  --color-tx-submit: #22ff22;
  --color-tx-sub: #999999;
  --color-ln-content: #cccccc;

  --font-small: 0.5em;
  --font-medium: 1em;
  --font-large: 1.5em;

  --icon-small: 1.5em;
  --icon-medium: 3em;

  --radius-flame: 8px;
  --radius-element: 5px;
}
